*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Montserrat';
    color: white;
}
*::selection{
    color: #94C11E;
    background-color: white;
}
html,body{
    height:100%;
    width:100%;
    background-color: black;
}

.links{
    text-decoration: none;
}
.links:active h3{
    color: white;
}
.links:visited:active h3{
    color: white;
}

.button {
    padding: 13px 35px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 500;
    background-color: black;
    border: 2.5px solid #94C11E;
}

.nav {
    position: fixed;
    z-index: 199;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 12px;
    height: 13vh;
    width: 100%;
}
.nav img{
    height: 7.5vh;
}
.nav .web-logo{
    height: 5vh;
}
.nav button{
    padding: 1.8vh 5vh;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 500;
    background-color: black;
    border: 2.5px solid #94C11E;
}

.page1{
    padding: 0 10px;
    padding-top: 13vh;
}
.page1 img{
    height: 28vh;
    width: 100%;
    border-radius: 10px;
}
.page1 h4{
    font-size: 17px;
    font-weight: 900;
    padding: 15px 0;
    text-transform: uppercase;
    color: #94C11E;
}
.page1 h1{
    font-size: 51px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 46px;
    position: relative;
    -webkit-text-stroke: 2px #94C11E;
    color: transparent;
    padding-bottom: 15px;
}
.page1 h1::before{
    content:"Events";
    position: absolute;
    bottom: -3px;
    left: 3px;
    color: white;
    padding-bottom: 15px;
    -webkit-text-stroke: transparent;
}

.para{
    font-weight: 100;
    line-height: 2;
    padding-bottom: 35px;
}

.page2{
    padding: 0 10px;
    padding-top: 20px;
}
.imgs{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.imgs img{
    height: 13vh;
    width: 21vh;
    border-radius: 10px;
    object-fit: cover;
}
.page2 h1{
    font-size: 32px;
    padding: 32px 0;
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 900;
}

.page3{
    padding-top: 10px;
}
.page3 .board-container{
    height: 22vh;
    background: linear-gradient(to left bottom , #089D3B, #48Ad2E, #7EBB22, #9FCE20, #B1E622);
    position: relative;
}
.page3 .board-container .back-img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.page3 .board-container .back-img img{
    height: 100%;
    opacity: 0.5;
}
.page3 .board-container .back-img img:nth-child(1){
    rotate: -180deg;
}
.page3 .board-container .leaderboard{
    position: absolute;
    top: 15%;
    left: 14%;
}
.page3 .board-container .leaderboard h2{
    font-size: 2.5vh;
    text-transform: uppercase;
    text-align: center;
    padding-right: 45px;
    padding-bottom: 30px;
    color: black;
    font-weight: 900;
}

.page4{
    padding-top: 20px;
    position: relative;
    height: 77vh;
}
.page4>h3{
    padding: 0px 12px;
    position: absolute;
    top: 36px;
    color: #B2E723;
    font-size: 21.5px;
    text-transform: uppercase;
    font-weight: 900;
}
.page4 .container{
    padding: 15px 15px;
    position: absolute;
    z-index: 10;
    width: 100%;
}
.page4 .container .part{
    height: 20vh;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}
.page4 .container .part h3{
    text-transform: uppercase;
    font-size: 25px;
    height: 100%;
    width: 100%;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page4 .container .part-1{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/page-toptracer-1024x683.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
.page4 .container .part-2{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/page-lessons-1024x683.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
.page4 .container .part-3{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/page-ag-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

footer{
    position: relative;
}
.about{
    min-height: 80vh;
    width: 100%;
    background:linear-gradient(to left bottom, #0C9E3A ,#8EBF1F , #ADDF22) ;
}
.about>img{
    position: absolute;
    bottom: 1%;
    opacity: 0.8;
}
.about .details{
    padding: 0 15px;
    padding-top: 20px;
    position: absolute;
    z-index: 99;
    width: 100%;
}
.details .section-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.details .section-1>img{
    height: 10vh;
}
.details .section-1 i{
    display: block;
    margin-bottom: 10px;
    font-size: 25px;
}

.details .section-2{
    margin-top: 40px;
}
.details .section-2 h3{
    text-transform: uppercase;
    line-height: 1.8;
    font-weight: 900;
    font-size: 21px;
    color: black;
}

.details .section-3{
    margin-top: 20px;
}
.details .section-3 h5{
    text-transform: uppercase;
    line-height: 1.8;
    font-weight: 700;
    font-size: 15px;
    color: black;
}
.details .section-3 h4{
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: 900;
    font-size: 19px;
    color: black;
}
.details .section-4{
    margin-top: 20px;
}
.details .section-4 h6{
    font-weight: 600;
    color: black;
}
.details .section-4 h5{
    margin-top: 10px;
    font-size: 12px;
    color: black;
}
.details .section-4 h6:nth-child(3){
    margin-top: 18px;
    font-size: 12px;
}


.menu-section-open{
    height: 100vh;
    width: 100%;
    padding-top: 24vh;
    background:linear-gradient(to left bottom, #0C9E3A ,#8EBF1F , #ADDF22) ;
    position: fixed;
    z-index: 198;
}
.menu-section-open h2{
    text-transform: uppercase;
    font-size: 4vh;
    text-align: center;
    line-height: 2.3;
    font-weight: 900;
    position: relative;
    color: black;
    -webkit-text-stroke: 2px #94C11E;

}
.menu-section-open .topic1::before{
    content: "TOPTRACER RANGE";
    position: absolute;
    color: white;
    bottom: -2.5px;
    right: 19px;
    -webkit-text-stroke: 0px white;
}
.menu-section-open .topic2::before{
    content: "GOLF LESSONS";
    position: absolute;
    color: white;
    bottom: -2.5px;
    right: 61px;
    -webkit-text-stroke: 0px white;
}
.menu-section-open .topic3::before{
    content: "ADVENTURE GOLF";
    position: absolute;
    color: white;
    bottom: -2.5px;
    right: 32px;
    -webkit-text-stroke: 0px white;
}
.menu-section-open .topic4::before{
    content: "Café";
    position: absolute;
    color: white;
    bottom: -2.5px;
    right: 148px;
    -webkit-text-stroke: 0px white;
}
.menu-section-open .topic5::before{
    content: "EVENTS";
    position: absolute;
    color: white;
    bottom: -2.5px;
    right: 125px;
    -webkit-text-stroke: 0px white;
}
